{erl_opts, []}.
{lib_dirs, ["deps"]}.
{cover_enabled, true}.

{deps, [
   % fogfish erlang toolkit archive
   {feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   }
   
  ,{getopt, ".*",
      {git, "https://github.com/jcomellas/getopt.git", {branch, master}}
   }
]}.

{escript_incl_apps, [
   feta
  ,getopt
]}.

{escript_emu_args, "%%! +K true +P 10000000\n"}.
